@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--width-min: 850px;
}

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #000;
	padding: 8px;
}

#app {
	min-width: var(--width-min);
}

#app-main,
#sidebar {
	height: 83vh;
}

a.active {
	color: white;
}

a#btn-header,
a#btn-cta,
a#btn-podcasts {
	color: #000;
}

/* For any elements with overflowing content */
::-webkit-scrollbar {
	display: inline;
	position: absolute;
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: #555;
}
::-webkit-scrollbar-thumb:hover {
	background: #888;
}

/* CTA */
#cta {
	background: rgb(237, 38, 217);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(237, 38, 217, 1)),
		to(rgba(103, 163, 221, 1))
	);
	background: -o-linear-gradient(left, rgba(237, 38, 217, 1) 0%, rgba(103, 163, 221, 1) 100%);
	background: linear-gradient(90deg, rgba(237, 38, 217, 1) 0%, rgba(103, 163, 221, 1) 100%);
	min-width: var(--width-min);
}
